{% extends 'base.html.twig' %}

{% block title %}Accéder à la soirée{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg flex-column flex-md-row navbar-light" style="background: #f0dff8;">
            <form class="form-inline">
                <a href="{{ path("ajouter_participant",{'id':soiree.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                    Ajouter
                </a>
                <a href="{{ path("home")}}" class= "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                    Retour
                </a>
                <a href="{{ path("calculer_soiree",{'id':soiree.id})}}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                    Calculer
                </a>
            </form>
        </nav>
    </div>
        <p><h1 class = "text-center"> soirée {{ soiree.nom }} le {{ soiree.date | date("m/d/Y") }} à : {{ soiree.lieu }}</h1>
        <div class="table-responsive">
            <p><table class="table table-bordered table-striped" style="background: #f0dff8;">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
                {% for p in soiree.participants %}
                    <tr>
                        <td>{{ p.nom }}</td>
                        <td>{{ p.prenom }}</td>
                        <td>{{ p.montantPaye }} €</td>
                        <td>
                            <a href="{{ path("modifier_participant",{'idSoiree':soiree.id, 'idParticipant':p.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#563d7c, #c9a0dc);">
                                modifier
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}

