{% extends 'base.html.twig' %}

{% block title %}Gestion des frais de soirée{% endblock %}

{% block body %}
    <div class="container">
        <p><h1 class = "text-center"> Vos soirées</h1></p>
    <div class="table-responsive">
        <p><table class="table table-bordered table-striped" style="background: #f0dff8;"></p>
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Nom</th>
                <th scope="col">Lieu</th>
                <th scope="col" colspan="3">Actions</th>
            </tr>
            </thead>
            {% for s in soirees %}
                <tr>
                    <td>{{ s.date | date("m/d/Y") }}</td>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.lieu }}</td>
                    <td><a href="{{ path("modifier",{'id':s.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                            Modifier
                        </a></td>
                    <td><a href="{{ path("supprimer",{'id':s.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                            Supprimer
                        </a></td>
                    <td><a href="{{ path("acceder_soiree",{'id':s.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                            Accéder
                        </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    <a href="{{ path("ajouter") }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
        Ajouter une soirée
    </a>
{% endblock %}