{% extends 'base.html.twig' %}

{% block title %}Gestion des frais de soirée{% endblock %}

{% block body %}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg flex-column flex-md-row navbar-light" style="background: #f0dff8;">
            <form class="form-inline">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">EMI_S</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-sunglasses-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v.116A4.22 4.22 0 0 1 8 5c.35 0 .69.04 1 .116V5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-1.994-1.839A2.99 2.99 0 0 0 8 6c-.393 0-.74.064-1.006.161A2 2 0 0 1 5 8h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM4.969 9.75A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .866-.5z"/>
                    </svg>
                </div>
            </form>
        </nav>
    </div>
    <p><h1 class = "text-center"> Vos soirées</h1>
    <div class="table-responsive">
        <p><table class="table table-bordered table-striped" style="background: #f0dff8;">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Nom</th>
                <th scope="col">Lieu</th>
                <th scope="col" colspan="3">Actions</th>
            </tr>
            </thead>
            {% for s in soirees %}
                <tr>
                    <td>{{ s.date | date("m/d/Y") }}</td>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.lieu }}</td>
                    <td><a href="{{ path("modifier",{'id':s.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                            Modifier
                        </a></td>
                    <td><a href="{{ path("supprimer",{'id':s.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                            Supprimer
                        </a></td>
                    <td><a href="{{ path("acceder_soiree",{'id':s.id}) }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
                            Accéder
                        </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{{ path("ajouter") }}" class = "btn btn-lg btn-primary" style="background: linear-gradient(to right,#d8b0ed, #c9a0dc);">
        Ajouter une soirée
    </a>
{% endblock %}