{% extends 'base.html.twig' %}

{% block title %}Modifier une soirée{% endblock %}

{% block body %}
    <h1 class = "text-center"> Modifier une soirée</h1>
    {{ form_start(formulaire) }}

    {{ form_errors(formulaire.nom) }}
    {{ form_widget(formulaire.nom) }}

    {{ form_errors(formulaire.lieu) }}
    {{ form_widget(formulaire.lieu) }}

    {{ form_errors(formulaire.date) }}
    {{ form_widget(formulaire.date) }}

    {{ form_rest (formulaire) }}
    {{ form_end(formulaire) }}

{% endblock %}
