{% extends 'base.html.twig' %}

{% block title %}Ajouter un participant{% endblock %}

{% block body %}
    <h1 class = "text-center">Ajouter un participant</h1>

    {{ form_start(formulaire) }}

    {{ form_errors(formulaire.nom) }}
    {{ form_label(formulaire.nom, "Nom") }}
    {{ form_widget(formulaire.nom) }}

    {{ form_errors(formulaire.prenom) }}
    {{ form_label(formulaire.prenom, "Prénom") }}
    {{ form_widget(formulaire.prenom) }}

    {{ form_errors(formulaire.montantPaye) }}
    {{ form_label(formulaire.montantPaye, "Montant payé") }}
    {{ form_widget(formulaire.montantPaye) }}

    {{ form_rest (formulaire) }}
    {{ form_end(formulaire) }}


{% endblock %}

